* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 1vw;
    background-image: url("img/background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.main {
    width: 100vw;
    height: 93vh;
}
