@font-face {
    font-family: Roboto;
    src: url("img/Roboto.ttf");
}

* {
    list-style-type: none;
    text-decoration: none;
    outline: none;
    user-select: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto;
    font-weight: 300;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 1vw;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.main {
    width: 100vw;
    height: 93vh;
}

#time {
    font-size: 13vw;
}

#date_details {
    font-size: 4.1vw;
}
