* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

main {
    background-image: url('img/home.screen.jpg');
    background-size: cover ;
    width: 100vh;
    height: 210vh;
}

.weather {
    margin: 0 4.3vh;
    transform: translateY(14.3vh);
}

.weather .displays {
    background-color: rgb(36, 35, 40);
    width: 89.2vh;
    height: 21.3vh;
    border-radius: 4vh;
    padding: 12px;
    margin-bottom: 2.3vh;
}

.weather .tiny {
    display: flex;
    justify-content: space-between;
    margin: 0 4.8vh;
}

.widgets {
    display: flex;
    margin: 0 4.3vh;
    gap: 2.1vh;
}

.music {
    margin-top: 25.2vh;
    background-color: black;
    opacity: 0.95;
    width: 51vh;
    height: 69.8vh;
    border-radius: 4vh;
}

.youtube {
    margin-top: 25.2vh;
    background-color: rgb(30, 50, 60);
    width: 38.1vh;
    height: 43.8vh;
    border-radius: 4vh;
}

.tele2 {
    margin-top: 8.5vh;
    background-color: black;
    width: 35.6vh;
    height: 11vh;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 8vw;
    padding: 8px 10px;
}

.tele2 div {
    display: flex;
    font-size: 2vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tele2 .data {
    margin: 1.6vh 0;
    font-size: 2.5vw;
}

article.apps {
    display: flex;
    margin-top: 27vh;
    margin-left: 5.5vh;
    gap: 5vw;
}

img.app1 {
    transform: translate(-0.3vw, 0vw);
}

img.app2 {
    transform: translate(1.7vw, -0.5vw);
}

img.app3 {
    transform: translate(3.3vw, -0.4vw);
}

img.app4 {
    transform: translate(2.2vw, -0.5vw);
}

img.app5 {
    transform: translate(1.7vw, -1vw);
}

img.app6 {
    transform: translate(4.5vw, 0vw);
}

div.circle {
    background-color: rgb(17, 18, 13);
    width: 11vh;
    height: 11vh;
    transform: translate(6vw, -1.3vw);
    border-radius: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2.5vh);
    grid-template-rows: repeat(3, 3.5vh);
}

.circle img {
    transform: translateX(2.9vw);
}

.circle img.first {
    transform: translate(2.9vw, 1.7vh);
}

.circle img.middle {
    transform: translate(2.9vw, 0.9vh);
}

.signs {
    display: flex;
    margin-top: 13vh;
    margin-left: 41vh;
    gap: 2.1vw;
}

.equal {
    transform: translateY(0.5vh);
}

article.footer-apps {
    display: flex;
    margin-top: 12vh;
    margin-left: 5.8vh;
    gap: 6vw;
}

.camera {
    transform: translate(5vw, 1vw)
}
